@import "../../index.scss";

.Catalogue {
  @include flex(center, center, column);
  min-height: 90vh;
  padding: 25px;
  gap: 30px;

  h1 {
    font-size: 6em;
    opacity: 0
  }

  .cards {
    @include flex(space-evenly, stretch);
    width: 100%;
    max-width: 1300px;
    opacity: 0;
    flex-wrap: wrap;
    gap: 15px;

    section {
      @include flex (flex-start, center, column);
      width: 160px;
      gap: 20px;
      
      div {
        @include flex(center, center);
        height: 250px;
        width: 100%;
        overflow: hidden;
        border: solid black 3px;
        box-shadow: $boxShadow;

        img {
          max-height: 100%;
        }
      }

      p {
        text-align: center;
        padding: 0 5px;
        font-size: 1.3em
      }
    }
  }
}

.titleAnimation {
  animation: titleAnimation 2s forwards;
}
.cardsAnimation {
  animation: cardsAnimation 2s forwards;
}

@keyframes cardsAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes titleAnimation {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 550px) {
  .Catalogue {
    padding-top: 40px;

    h1 {
      font-size: 5em;
    }
  }
}

@media screen and (max-width: 470px) {
  .Catalogue {
    h1 {
      font-size: 4em;
    }
  }
}

@media screen and (max-width: 390px) {
  .Catalogue {
    h1 {
      font-size: 3em;
    }
  }
}