@import "../../index.scss";

.Cover {
  @include flex(flex-start, stretch, column);
  width: 100%;

  .MainContainer {
    @include flex(center, center, column);
    height: calc(100vh - 65px);
    background-image: url("../../assets/images/aboutBackground.jpg");
    background-size: cover;

    h1 {
      font-size: 7em;
      opacity: 0;
      text-wrap: wrap;
      text-align: center;
    }
    p {
      font-size: 2.5em;
      background-color: $white;
      opacity: 0;
      text-align: center;
      color: black;
    }
  }
}

.titleAnimation {
  animation: titleAnimation 2s forwards;
}
.subtitleAnimation {
  animation: subtitleAnimation 2s forwards;
}
@keyframes titleAnimation {
  from {
    opacity: 0;
    transform: translateY(-400px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes subtitleAnimation {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 1000px) {
  .Cover {
    .MainContainer {
      h1 {
        font-size: 5.5em;
        max-width: 80%;
      }
      p {
        max-width: 80%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .Cover {
    .MainContainer {
      h1 {
        max-width: 90%;
        font-size: 5rem;
      }
      p {
        max-width: 90%;
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .Cover {
    .MainContainer {
      h1 {
        max-width: 95%;
        font-size: 4rem;
      }
      p {
        max-width: 95%;
        font-size: 2rem;
      }

    }
  }
}
