@import "../../index.scss";

.Moodboard {
  @include flex(center, center, column);
  min-height: calc(100vh - 65px);
  gap: 20px;

  h1 {
    font-size: 5em;
    opacity: 0;
  }

  .contentContainer {
    @include flex(center, center);
    width: 100%;
    height: 80%;
    gap: 20px;

    .imgContainer {
      @include flex(center, center);
      border: solid red;
      width: 40%;
      height: 500px;
      overflow: hidden;
      border: solid black 7px;
      opacity: 0;
      box-shadow: $boxShadow;
      align-self: center;

      img {
        max-height: 100%;
      }
    }

    .infoContainer {
      @include flex(flex-start, center, column);
      width: 50%;
      font-size: 1.3em;
      line-height: $lineHeight;

      p {
        width: 80%;
        opacity: 0;
      }
    }
  }
}

.titleAnimation {
  animation: titleAnimation 2s forwards;
}
.imgAnimation {
  animation: imgAnimation 2s forwards;
}
.textAnimation {
  animation: textAnimation 2s forwards;
}

@keyframes textAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes imgAnimation {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes titleAnimation {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1150px) {
  .Moodboard {
    .infoContainer {
      h1 {
        font-size: 4em;
      }
    }
  }
}

@media screen and (max-width: 840px) {
  .Moodboard {
    padding: 40px 20px;

    .contentContainer {
      justify-content: space-between;

      .imgContainer {
        min-width: 300px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .Moodboard {
    gap: 20px;

    h1 {
      font-size: 4em;
    }
    
    .contentContainer {
      flex-direction: column;

      .imgContainer {
        width: 100%;
        max-height: 300px;
        max-width: 400px;
      }

      .infoContainer {
        width: 100%;
        font-size: 1.1em;

        p {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .Moodboard {

    h1 {
      font-size: 3em;
    }
  }
}

@media screen and (max-width: 330px) {
  .Moodboard {
    padding: 40px 15px;

    h1 {
      font-size: 2em;
    }

    .contentContainer {
      .imgContainer {
        min-width: auto;

        img {
          transform: scale(1.01);
        }
      }
    }
  }
}