@import "../../index.scss";

.News {
  @include flex(flex-start, center, column);
  min-height: calc(100vh - 65px);
  background-color: $white;
  padding: 65px 15px 15px 15px;

  article {
    @include flex(flex-start, flex-start, column);
    width: 100%;
    max-width: 700px;

    h1 {
      font-size: 3em;
      width: 100%;
      margin: 20px 0;
      text-align: center;
    }

    .dataContainer {
      @include flex(center, center);
      width: 100%;
      margin-bottom: 20px;

      h3 {
        @include flex(center, center);
        font-size: 1.2em;
        padding: 0 15px;
        gap: 15px;

        svg {
          height: 30px;
        }
      }

      p {
        @include flex(center, center);
      }
    }

    .imgContainer {
      margin-bottom: 40px;
      width: 100%;
      aspect-ratio: 64 / 45;

      img {
        width: 100%;
      }
    }

    p {
      font-size: 1.4em;
      line-height: 1.5;
    }
  }
}

@media screen and (max-width: 700px) {
  .News {
    article {
      h1 {
        font-size: 2.7em;
        text-align: start;
      }

      .dataContainer {
        justify-content: flex-start;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .News {
    article {

      .dataContainer {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

        h3 {
          padding-left: 0;
        }

        p {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .News {
    article {
      h1 {
        font-size: 2em;
      }
    }
  }
}

// .News {
//   min-height: 100vh;
//   padding: $page-padding;
//   background-color: $white;

//   .new1 {
//     @include flex(flex-start, stretch);
//     padding: 20px;
//     gap: 20px;

//     .contentContainer {
//       @include flex(flex-start, flex-start, column);
//       width: 50%;

//       h1 {
//         font-size: 3rem;
//         text-wrap: nowrap;
//       }

//       .dateAndUbi {
//         @include flex (space-between, center);
//         align-self: stretch;
//         margin-top: 10px;
//         border-top: solid $darkGray 1px;
//         border-bottom: solid $darkGray 1px;

//         svg {
//           height: 35px;
//           width: 35px;
//         }

//         .dateContainer {
//           @include flex(flex-start, center);
//           gap: 20px;
//           padding: 10px 0;

//           p {
//             font-size: 1.5rem;
//           }
//         }

//         .ubiContainer {
//           @include flex (space-between, center);
//           padding: 10px 0;
//         }
//       }

//       .text {
//         font-size: 1.4rem;
//         margin-top: 15px;
//       }
//     }

//     .imgContainer {
//       @include flex(center, center);
//       width: 50%;

//       img {
//         max-width: 100%;
//         box-shadow: $boxShadow;
//       }
//     }
//   }
// }
