$cream: #f2ede9;
$beige: #fbe7d9;
$pink: #ffb8b8;
$page-padding: 65px 25px 25px 25px;
$lineHeight: 1.6;
// $lightBlue: #b0b3ea;
$boxShadow: 0px 0px 10px 1px;
$darkGray: #1A1A1A;
$darkGrayHover: rgb(38, 38, 38);
$white: rgb(250, 250, 250);
$fontWhite:rgb(190, 190, 190);

@font-face {
  font-family: "Teachers";
  src: url("./assets/fonts/Teachers.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex($justify-content, $align-items, $flex-direction: row) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}
